<xf:macro template="prism_macros" name="setup" />

<xf:css src="CMTV_Code_code_block.less" />

<xf:js src="CMTV/Code/code-block.js" min="1" addon="CMTV/Code" />
<xf:js src="CMTV/Code/code-block-actions.js" min="1" addon="CMTV/Code" />
<xf:js src="CMTV/Code/code-block-resizer.js" min="1" addon="CMTV/Code" />

<div class="bbCodeBlock bbCodeBlock--screenLimited bbCodeBlock--code {{ $language ? 'language-' . $language : 'noLang' }} {{ $options.class }}"
	 data-xf-init="CMTV-code-block">
	
	<div class="bbCodeBlock-header">
		<div class="bbCodeBlock-title">
			<span title="{{ $options.title ? $config.phrase ?: phrase('code') : '' }}">
				{{ $options.title ?: $config.phrase ?: phrase('code') }}{$xf.language.label_separator}
			</span>
		</div>
		
		<div class="bbCodeBlock-actions">
			<xf:fa icon="fa-expand-alt" title="{{ phrase('CMTV_Code_expand') }}" class="action action--expand action--hidden" 
				   data-xf-init="tooltip" data-xf-click="CMTV-code-block-expand" />
			
			<xf:fa icon="fa-compress-alt" title="{{ phrase('CMTV_Code_collapse') }}" class="action action--collapse action--hidden" 
				   data-xf-init="tooltip" data-xf-click="CMTV-code-block-collapse" />
			
			<xf:fa icon="fa-paste" title="{{ phrase('CMTV_Code_copy') }}" class="action action--copy" 
				   data-xf-init="tooltip" />
		</div>
	</div>
	
	<div class="bbCodeBlock-content" dir="ltr">
		<pre class="bbCodeCode {{ $xf.options.CMTV_Code_lineNumbers_enabled ? 'line-numbers' . (!$language ? ' language-none' : '') : ''  }}" dir="ltr" data-line="{$options.highlight}" data-xf-init="CMTV-code-block-extend" data-lang="{{ $language ?: '' }}"><code>{$content}</code></pre>
	</div>
	
	<div class="bbCodeBlock-grip resizer--hidden" data-xf-init="CMTV-code-block-resizer">
		<xf:fa icon="fa-grip-horizontal" />
	</div>
</div>