<xf:macro name="opposite_menu">
	<div class="bbCodeBlock-title-opposite">
		<span class="icon-button expand"
			  data-xf-init="tooltip" data-original-title="{{ phrase('Code_expand') }}"
			  data-xf-click="Code-expand">
			<i class="fa fa-expand"></i>	
		</span>
		
		<span class="icon-button collapse"
			  data-xf-init="tooltip" data-original-title="{{ phrase('Code_collapse') }}"
			  data-xf-click="Code-collapse">
			<i class="fa fa-compress"></i>
		</span>

		<span class="icon-button copy-to-clipboard"
			  data-xf-init="tooltip" data-original-title="{{ phrase('Code_copy_to_clipboard') }}">
			<i class="fa fa-clipboard"></i>	
		</span>
	</div>
</xf:macro>

<xf:macro name="resizer_bar">
	<div data-xf-init="Code-resizer" class="bbCodeBlock-resizer">
		<span class="grip-handle"></span>
	</div>
</xf:macro>